<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="icon" type="image/png" href="static/pics/icon.png"><!--  Social tags      -->
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<!-- CSS Files -->
<link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
<!-- CSS Just for demo purpose, don't include it in your project -->
<!-- <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/demo/demo.css" rel="stylesheet"> -->
<!-- Extra details for Live View on GitHub Pages -->
<!-- Google Tag Manager -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
#backbutton{
  display: none
}

</style>

  </head>
  <body style="background-color:black"  >
  <div class="page-header" style="background-image: url('https://miro.medium.com/max/1719/1*Gql-Vlc4BQJz_x8GhJXX2A.jpeg');">
</div>
 <div class="wrapper">
   <div class="section latest-offers" style="background-color: #2A2A2A">
     <h3 class="section-title" style="margin-left:23%;color:white;display:inline"><b>Search</b></h3>
     <div class="md-form mt-0" style="margin-left:23%;width:50%">
      <form method="post" action="/users/search">
       <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search" style="width:70%;display:inline;float:left">
       <button type="submit" class="btn primary" style="margin-left:10px">Search</button>
       </form>
     </div>

     <div class="container">
       <% for(var i in pop){%>
          <!-- <div id=> -->
          <b><h3><%= i %> Books</h3></b><!-- </div> --><br>
          <div class="col-md-12">
           <div class="products">
             <div class="row">
              <% for (j=0;j<pop[i].length ;j++){%>
               <div class="col-md-3 col-sm-3" >
                 <div class="card card-product card-plain">
                   <div class="card-image">
                     <a href="/shelf/viewbk/<%=pop[i][j].Title%>"><img class="af-explames-demo-img" style="width:104px;height:160px" src="<%=pop[i][j].ImageURLM%>"
                  alt="https://www.bookcoversclub.com/wp-content/uploads/2018/02/book-cover-352.jpg"></a>
                     <div class="card-body">
                       <div class="card-description">
                         <p class="card-title" style="color:white;font-weight: normal;width:20ch"><%= pop[i][j].Title%></p>
                         <p class="card-description" style="color:white;font-weight: normal"><%= pop[i][j].Author%></p>
                         <!-- here we need to keep a loop for displayin the rating -->
                          <% for(var m=0; m<Math.round(pop[i][j].Rating/2)+1 ;m++){%>
                          <span class="fa fa-star checked"></span>
                          <%}%>
                          <% for(var m=4; m>Math.round(pop[i][j].Rating/2) ;m--){%>
                          <span class="fa fa-star"></span>
                          <%}%>
                       </div>

                     </div>
                   </div>
                 </div>
               </div>
                <%} %>
               <br>
               </div>
             <div class="col-md-3 offset-md-4">
              <a href="/users/seebks/<%= i %>">
                <button rel="tooltip" class="btn btn-round btn-outline-default" id="successBtn" data-rotation-color="gray" style="color:white;font-weight: normal">See all...</button>
              </a>
              </div>
           </div>
         </div>
         <%}%>
     </div>
   </div>
   <!-- section -->
   <div class="section" style="background-color: #161616">
     <div class="container">
       <h3 class="section-title" style="color:white;margin-bottom: 20px"><b>All Genres</b></h3>
       <% for(i=0;i<genre.length ;i++){%>
       			<a href=#<%= genre[i]["Genre"]%>>
            <button rel="tooltip" title=genre[i]["Genre"] class="btn btn-round "   style="color:white;font-weight: bold;background-ccolor:white; margin-right: 20px;margin-bottom:15px"><%= genre[i]["Genre"]%>
       			</button>
          </a>
       <%}%>
       <% for(var i in books){%>
       		<!-- <div id=> -->
          <a name= <%= i %>></a>
          <br>
       		<h3><%= i %></h3><!-- </div> --><br>
       		<div class="col-md-12">
           <div class="products">
             <div class="row">
             	<% for (j=0;j<books[i].length ;j++){%>
               <div class="col-md-3 col-sm-3" >
                 <div class="card card-product card-plain">
                   <div class="card-image">
                     <a href="/shelf/viewbk/<%=books[i][j].Title%>"><img class="af-explames-demo-img" style="width:104px;height:160px" src="<%=books[i][j].ImageURLM%>"
                  alt="https://www.bookcoversclub.com/wp-content/uploads/2018/02/book-cover-352.jpg"></a>
                     <div class="card-body">
                       <div class="card-description">
                         <p class="card-title" style="color:white;font-weight: normal;width:20ch"><%= books[i][j].Title%></p>
                         <p class="card-description" style="color:white;font-weight: normal"><%= books[i][j].Author%></p>
                         <!-- here we need to keep a loop for displayin the rating -->
                          <% for(var m=0; m<Math.round(books[i][j].Rating/2) ;m++){%>
                          <span class="fa fa-star checked"></span>
                          <%}%>
                          <% for(var m=4; m>Math.round(books[i][j].Rating/2)-1 ;m--){%>
                          <span class="fa fa-star"></span>
                          <%}%>
                       </div>

                     </div>
                   </div>
                 </div>
               </div>
               	<%} %>
               <br>
               </div>
             <div class="col-md-3 offset-md-4">
              <a href="/users/seebooks/<%= i %>">
                <button rel="tooltip" class="btn btn-round btn-outline-default" id="successBtn" data-rotation-color="gray" style="color:white;font-weight: normal">See all...</button>
              </a>
              </div>
           </div>
         </div>
         <%}%>
     </div>
   </div>

   <!-- section -->

   <!-- section -->

</body>


</html>
