<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />
  <!--  Social tags      -->
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- End Google Tag Manager -->
  <style>
  .checked {
  color: orange;
}
  </style>
</head>

<body class="product-page sidebar-collapse">
  
 <nav class="navbar navbar-expand-lg fixed-top " style="background-color:black" >
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="../index.html" rel="tooltip" title="Paper Kit 2 PRO" data-placement="bottom" target="_blank" style="color:white;font-size: 15px">
          <i class="nc-icon nc-cart-simple" style="margin-right: 5px;"></i>Book Shelves
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
        <ul class="navbar-nav ml-auto">
          <li class=" nav-item">
            <a href="#" class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" style="color:white;font-size: 15px">
              <i class="nc-icon nc-bank" style="margin-right: 5px;"></i>Home
            </a>
          </li>

          <li class=" nav-item">
            <a href="#" class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" style="color:white;font-size: 15px">
              <i class="nc-icon nc-single-02" style="margin-right: 5px;"></i>My Profile
            </a>
            
          </li>
          <li class=" nav-item">
            <a href="#" class=" nav-link" id="" data-toggle="dropdown" style="color:white;font-size:15px">
              <i class="nc-icon nc-single-copy-04" style="margin-right: 5px"></i><b>My Shelf</b>
            </a>
          </li>
          <li class="nav-item" >
            <a class="btn btn-round"   style="color:white;background-color: black" >
               <i class="nc-icon nc-button-power" style="margin-right: 5px;"></i>Logout
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="page-header page-header-xs" style="background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80');">
  </div>
 
    <div class="main">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h2 style="color:black"><%= books[0].Genre%></h2>
            <br/>
          </div>
          <% for(i=0;i<books.length; i++){%>
          <div class="col-md-3 col-sm-3">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="/shelf/viewbook/<%=books[i].Title%>">
                  <img src="<%=books[i].ImageURLM%>" alt="https://www.bookcoversclub.com/wp-content/uploads/2018/02/book-cover-352.jpg" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title"><%= books[i].Tilte%></h5>
                    <p class="card-description"><%= books[i].Author%></p>
                  </div>
                  <div class="actions">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
  <!--   Core JS Files   -->
    <footer class="footer footer-big" style="background-color: black;width: 100%">
        
          <div class="col-md-4 ml-auto ">
            <div class="social-area">
              <a href="#facebook" class="btn btn-neutral btn-round btn-just-icon btn-facebook" style="margin-left: 15px;">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#twitter" class="btn btn-neutral btn-just-icon btn-round btn-twitter" style="margin-left: 15px;">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#google" class="btn btn-neutral btn-just-icon btn-round btn-google" style="margin-left: 15px;">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
              <a href="#pin" class="btn btn-neutral btn-just-icon btn-round btn-pinterest" style="margin-left: 15px;">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>  
</body>
</html>
