<html lang="en" class=" cssanimations"><head>
  <meta charset="utf-8">
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/demo/demo.css" rel="stylesheet">
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager -->

<body style='height:500px'>
    <!-- End Navbar -->
  <div  class="wrapper">
    <div class="profile-content section">
      <div  class="container">
        <div class="row" style='justify-content:center;'>
          <h1 style='font-family:"Comic Sans MS",cursive,sans-serif !important''>Bookrest</h1>
        </div>
        <p class='text-center' style="font-family:'Comic Sans MS',cursive,sans-serif;font-size:12px;color:#66615b">Find the hidden</p>
<br>
<br>        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <form class="settings-form" method='post' action='profile'>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name='fname' class="form-control border-input" value='<%=pro.fname%>' required placeholder="First Name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name='lname' class="form-control border-input" value='<%=pro.lname%>' placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Phone Number</label>
                <input type="text" name='phone' class="form-control border-input" value='<%=pro.phone%>' required placeholder="Phone Number">
              </div>
              <div class="form-group">
                <label>City</label>
                <input type="text" name='location' class="form-control border-input" value='<%=pro.location%>' required title='watch your spelling' placeholder="City">
              </div>

              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control textarea-limited"  name='address' placeholder="This is a textarea limited to 150 characters." rows="3" maxlength="150"><%=pro.address%></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-outline-default btn-file btn-round">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
