<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
    @media all{
    .mfp-hide{display:none!important;}
    .bs-container{max-width:800px;margin:0 auto;background:none;overflow:hidden;margin-bottom:0px;text-align:center;}
    .bs-container .bs-shelf{position:relative;height:150px;margin-bottom:10%;}
    .bs-container .bs-shelf-image{width:140px;height:100%;display:inline-block;vertical-align:bottom;position:relative;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:5px;max-width:100%;}
    .bs-container .bs-shelf-image:last-child{margin-right:0px;}
    .bs-container .bs-shelf-image:nth-child(2){margin-left:0px;}
    .bs-container .bs-shelf-image img{max-width:100%;max-height:100%;box-shadow:0px 0px 3px #666666;position:absolute;bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
    .bs-container .bs-shelf-image img{-moz-transition-duration:.5s;-webkit-transition-duration:.5s;-ms-transition-duration:.5s;}
    .bs-container .bs-shelf-image .bs-mask{width:100%;height:100%;pointer-events:none;overflow:hidden;position:relative;}
    .bs-container .bs-shelf-image .bs-textbox{position:absolute;background-color:#FFFFFF;width:100%;bottom:-100px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);opacity:1;padding:5px 0;pointer-events:none;}
    .bs-container .bs-shelf-image .bs-textbox p{color:#000000;font-size:11px;font-weight:700;margin:0!important;line-height:1.5!important;padding:0!important;padding-left:6px!important;padding-right:6px!important;}
    .bs-container .bs-shelf-background{position:absolute;border:0px solid #FF0000;left:0;bottom:-15px;width:100%;height:35px;}
    .bs-container .bs-shelf-background .bs-rectangle{width:100%;height:100%;border:0px solid #FFF000;position:absolute;top:0;left:0;-webkit-transform:perspective(100px) rotateX(15deg);-webkit-transform-origin:50% 100% 0;-ms-transform:perspective(100px) rotateX(15deg);-ms-transform-origin:50% 100% 0;box-shadow:0px 7px 1px rgba(0,0,0,0.25);background:-moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.06) 100%);background:-webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.06) 100%);background:linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.06) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#0f000000',GradientType=0 );}


    .dialog-bookshelf{background:white;padding:20px 30px;text-align:left;max-width:800px;margin:40px auto;position:relative;}
    }

    @media all{
    article,header,main,section{display:block;}
    a:focus{outline:thin dotted;}
    a:active,a:hover{outline:0;}
    h1{font-size:2em;margin:.67em 0;}
    img{border:0;}
    *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    .entry:before,.site-inner:before,.wrap:before{content:" ";display:table;}
    .entry:after,.site-inner:after,.wrap:after{clear:both;content:" ";display:table;}
    ::-moz-selection{background:#333;color:#fff;}
    ::selection{background:#333;color:#fff;}
    a{color:#333;text-decoration:none;}
    a:hover,a:focus{color:#008CBA;text-decoration:none;}
    p{margin:0 0 24px;padding:0;}
    h1,h3{color:#444;font-weight:normal;line-height:1.2;margin:0;margin-bottom:22px;padding:0;}
    h1{font-size:36px;}
    h3{font-size:24px;}
    img{max-width:100%;}
    img{height:auto;width:auto\9;}
    ::-moz-placeholder{color:#999;}
    ::-webkit-input-placeholder{color:#999;}
    .wrap{margin:0 auto;max-width:980px;}
    .site-inner{clear:both;padding-top:50px;}
    .content{float:left;width:600px;}
    .entry-title{font-size:36px;word-wrap:break-word;line-height:1.2;}
    .entry{margin-bottom:50px;}
    .entry-content{word-wrap:break-word;}
    .entry-content a{text-decoration:underline;}
    @media only screen and (max-width: 1023px){
    .content,.wrap{width:100%;}
    .site-inner{padding-top:40px;}
    .site-inner{padding-left:5%;padding-right:5%;}
    .entry{padding:0;}
    .site-inner{background:none;}
    }
    @media only screen and (max-width: 768px){
    .entry-title{font-size:22px;}
    h1{font-size:22px;}
    h3{font-size:20px;}
    }
    }

    .content{float:left;width:100%;}
    .singular-page-1059 .entry-title{text-align:center;display:none;}

    #_1957305412.bs-container{max-width:800px;}
    #_1957305412.bs-container .bs-shelf-image .bs-textbox{background-color:#FFFFFF;}
    #_1957305412.bs-container .bs-shelf-image .bs-textbox{opacity:1;}
    #_1957305412.bs-container .bs-shelf-image .bs-textbox p{color:#000000;}
    #_1957305412.bs-container .bs-shelf-image img{box-shadow:0px 0px 3px #666666;}
    #_1957305412.bs-container .bs-shelf-image .bs-textbox p{font-size:11px;}
    #_1957305412.bs-container .bs-shelf-background .bs-rectangle{box-shadow:0px 7px 1px rgba(224,224,224,1);background:-moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(0,0,0,0.4) 100%);background:-webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(224,224,224,0.4) 100%);background:linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(224,224,224,0.4) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#0f000000',GradientType=0 );}
    #_1957305412.bs-container .bs-shelf-image a img:hover{opacity:1;}
    .dialog-bookshelf{max-width:800px;background:#FFFFFF;}

    </style>
  </head>
  <body>

  <div class="site-inner">
  	<div class="wrap">
  		<main class="content" id="content" role="main" itemprop="mainContentOfPage">
  			<article id="post-1059" class="entry page publish author-admin post-1059" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
  				<div class="entry-wrap">
  					<header class="entry-header">
  					</header><!-- .entry-header -->

  					<div class="entry-content" itemprop="text">


         <!-- begin BookShelf html -->
         <div id="_1957305412" class="bs-container">

            <!-- begin tile bookshelf -->
            <section class="bs-description">
                <h3></h3>
            </section>
            <!-- end tile bookshelf -->


            <!-- begin images for bookshelf -->
            <section>

              <% for(i=0;i<Math.ceil(book.length)/4 ;i++){%>

                <div class="bs-shelf">
                	<div class="bs-shelf-background">
                		<div class="bs-rectangle"></div>
                  </div>

                <% for(j=i*4;j<Math.min((i*4)+4,book.length);j++) {%>
                <!-- <img src="<%=book[i].book.ImageURLS%>" alt=""> -->
                  <div class="bs-shelf-image">
                      <a href="/shelf/viewbook/<%=book[i].book.Title%>"><img src="<%=book[j].book.ImageURLL%>" alt="/pics/image_placeholder.jpg"></a>
                  </div>

                <%}%>
                </div>
              <%}%>


          </section>
          <!-- end images for bookshelf -->

            </div>
            <!-- end BookShelf html -->


    <% for(i=0;i<book.length;i++){%>
      <h3><%=book[i].book.Title%></h3>
      <img src="<%=book[i].book.ImageURLS%>" alt="">
    <%}%>

    	</div>
    		</div></article>
    	</main><!-- .content -->
    		</div>	</div>


  </body>
</html>
