<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
    <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />

    <style type="text/css">
      canvas{display:inline-block;vertical-align:baseline;}
      @media print{
      *{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
      img{page-break-inside:avoid;}
      img{max-width:100%!important;}
      p{orphans:3;widows:3;}
      }
      *,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
      img{vertical-align:middle;}
      li,p,ul{padding:0;margin:0;list-style:none;}
      img{padding:0;margin:0;border:none;}
      /*! CSS Used from: http://anyflip.com/example/css/example.css?e0db6083810974d8e96c3c6cf0b90f11 */
      .af-example-container{position:relative;margin:0px auto;max-width:1100px;min-height:100px;padding:0px 0px 100px 0px;}
      .af-example-demos-outer{position:relative;text-align:center;width:100%;margin:0px auto;}
      .af-example-demos-panel{position:relative;display:inline-block;text-align:center;width:100%;}
      .af-example-demos-panel > .example-self{position:absolute;height:100%;}
      .af-example-demos-panel > .shelf-left{width:200px;background:url("http://anyflip.com/example/img/shelf1.png");}
      .af-example-demos-panel > .shelf-mid{left:200px;right:200px;background:url("http://anyflip.com/example/img/shelf2.png");}
      .af-example-demos-panel > .shelf-right{width:200px;right:0;background:url("http://anyflip.com/example/img/shelf3.png");}
      .af-explame-demo{width:150px;height:185px;position:relative;margin:0px 17px;display:inline-block;text-align:center;margin-top:56px;margin-bottom:34px;}
      .af-explame-demo > div{-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;display:block;position:absolute;width:100%;bottom:0;max-height:100%;cursor:pointer;overflow:hidden;}
      .af-explame-demo > div:hover{bottom:10px;}
      .af-explame-demo > p{position:absolute;width:100%;text-align:center;top:214px;font-size:14px;color:#777;}
      .af-explames-demo-img{max-height:185px;max-width:150px;position:relative;}
      .af-explames-demo-mask{position:absolute;width:100%;height:100%;background:#fff;z-index:1;opacity:0;left:0%;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s;}
      .af-explame-demo > div:hover .af-explames-demo-mask{opacity:0.4;}
      .stripe-button-el span{display: none !important}
      /* .grey-button{
        overflow:hidden;
        display:inline-block;
        color: white;
        visibility:visible!important;
        background-image:-webkit-linear-gradient(#66615B,#635A50);
        background-image:-moz-linear-gradient(#66615B,#635A50);
        background-image:-ms-linear-gradient(#66615B,#635A50);
        background-image:-o-linear-gradient(#66615B,#635A50);
        background-image:-webkit-linear-gradient(#66615B,#635A50);
        background-image:-moz-linear-gradient(#66615B,#635A50);
        background-image:-ms-linear-gradient(#66615B,#635A50);
        background-image:-o-linear-gradient(#66615B,#635A50);
        background-image:linear-gradient(#66615B,#635A50);
        -webkit-font-smoothing:antialiased;
        border:0;padding:1px;
        text-decoration:none;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
        border-radius:5px;
        -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2);
        -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2);
        -ms-box-shadow:0 1px 0 rgba(0,0,0,0.2);
        -o-box-shadow:0 1px 0 rgba(0,0,0,0.2);
        box-shadow:0 1px 0 rgba(0,0,0,0.2);
        -webkit-touch-callout:none;
        -webkit-tap-highlight-color:transparent;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -o-user-select:none;
        user-select:none;
        cursor:pointer;
        } */
    </style>
  </head>
  <body style="margin-top:10%">

      <center><h1 style='font-family:"Comic Sans MS",cursive,sans-serif;color: ;'>My Shelf</h1></center>

    <div class="af-example-container">
            <div class="af-example-demos-outer">
                <ul class="af-example-demos-panel">
                    <div class="example-self shelf-left"></div>
                    <div class="example-self shelf-mid"></div>
                    <div class="example-self shelf-right"></div>
                    <% for(i=0;i<book.length ;i++){%>
                      <li class="af-explame-demo">
                          <div>
                              <!-- <div class="af-explames-demo-mask"></div> -->
                              <!-- <canvas width="140" height="185" style="position: absolute; width: 280px; height: 370px; left: -65px; top: -92.5px; z-index: 5;"></canvas> -->
                              <% if(owner[i].owner === '1' && owner[i].paid !== 1) {%>
                                <!-- <button type="submit" class="b btn btn-round" style="color:white;background-color:#66615B;border:1px solid white">Pay to unlock</button> -->
                                <a class="btn btn-rose btn-round" style="color:white" id='but' href="#" data-toggle="modal" data-target='#payoptions'  >Pay to unlock</a>

                                <div class="modal fade" id="payoptions"   >
                                  <div class="modal-dialog" role="document">
                                    <div  class="modal-content">
                                      <div class="modal-header" style="border-bottom:0px !important">
                                        <h3  style='font-size:30px;font-family:"Comic Sans MS",cursive,sans-serif;color:#66615b'>Bookrest</h3><br>
                                        <p  style="font-family:'Comic Sans MS',cursive,sans-serif;font-size:12px;margin-top:-5% ;color:#66615b">Find the hidden</p>
                                      </div>
            
                                      <div class="modal-body" >
            
            
                                        <div class="form-group">
                                          <h6 style="text-align:center">Wallet Balance : <%= owner[i].user.walletBalance %></h6>
                                          <h6 style="text-align:center">Amount To be paid : <%= owner[i].amount %></h6>
                                        </div>
                                      </div>
                                      <div class="modal-footer" style="border-top:0px !important;padding:1rem 5rem !important">
                                        <% if(owner[i].user.walletBalance >= owner[i].amount) { %>
                                        <button type="button" class="b btn btn-round" style="float: left" data-toggle="modal" data-target='#confirmation'>Pay from wallet</button>
                                        <% } else { %>
                                        <button type="button" class="b btn btn-round" style="float: left" data-toggle="modal" data-target='#confirmation' disabled>Pay from wallet</button>
                                        <% } %>
                                        <form action="/shelf/charge" method="post">
                                          <script
                                          src = "https://checkout.stripe.com/checkout.js"
                                          class = "stripe-button"
                                          data-key = "pk_test_51Gtt6XLG3iR3WbW87jLGZqAHKPibjAmJeK4dqHoVPVsGMA2RVOP1Vjk2GYYgpOTUtTOSGAAXzQKUx5RKZvETBfkC00mH6pT7Wp"
                                          data-amount = "<%= owner[i].amount*100 %>"
                                          data-name = "<%= book[i].book.Title %>"
                                          data-description = ""
                                          data-locale = "auto"
                                          data-currency = "inr"
                                          >
                                          </script>
                                          <button type="submit" class="b btn btn-round" style="color:white;background-color:#66615B;border:1px solid white">Pay with card</button>
                                          <input type="hidden" id="chargeAmount" name="chargeAmount" value="<%= owner[i].amount %>">
                                          <input type="hidden" id="id" name="id" value="<%=book[i].book._id%>">
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
            
                                <div class="modal fade" id="confirmation"   >
                                  <div class="modal-dialog" role="document">
                                    <div  class="modal-content">
                                      <div class="modal-header" style="border-bottom:0px !important">
                                        <h3  style='font-size:30px;font-family:"Comic Sans MS",cursive,sans-serif;color:#66615b'>Bookrest</h3><br>
                                        <p  style="font-family:'Comic Sans MS',cursive,sans-serif;font-size:12px;margin-top:-5% ;color:#66615b">Find the hidden</p>
                                      </div>
            
                                      <div class="modal-body" >
            
            
                                        <div class="form-group">
                                          <h6 style="text-align:center">Are you sure you want to pay from the wallet?</h6>
                                          <br>
                                          <h6 style="text-align:center">Current Balance &nbsp;&nbsp;&nbsp; = <%= owner[i].user.walletBalance %></h6>
                                          <h6 style="text-align:center">Book Cost &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <%= owner[i].amount %></h6>
                                          <h6 style="text-align:center">============================</h6>                                          
                                          <h6 style="text-align:center">Remaining Balance  = <%- owner[i].user.walletBalance - owner[i].amount %></h6>                                          
                                        </div>
                                      </div>
                                      <div class="modal-footer" style="border-top:0px !important;padding:1rem 8rem !important">
                                        <div id="changeButton">
                                          <button type="button" id="showSuccess" class="b btn btn-round" style="float: left" >Confirm</button>
                                        </div>
                                        <button type="button" class="b btn btn-round" style="color: red;background-color: white;border: 1px solid red;" data-dismiss="modal">Go Back</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                
                                <% } else{%>
                                  <a href="/shelf/viewbook/<%=book[i].book.Title%>">

                                    <img class="af-explames-demo-img" src="<%=book[i].book.ImageURLM%>" alt="/static/pics/image_placeholder.jpg">
                                  </a>
                                  <% } %>

                          </div>
                          <p style='font-family:"Comic Sans MS",cursive,sans-serif;' style="color: black;font-weight: normal;"><%= book[i].book.Title %> <br>
                            <a href="/shelf/deletebook/<%=book[i].book.Title%>" style="font-weight: normal;">Remove</a>
                          </p>
                      </li>
                    <%}%>
                  </ul>
              </div>
      </div>

      <center>
        <div class="col-md- col-sm-4">
          <a href="/shelf/addbook"><button class="btn btn-outline-primary btn-block btn-round" type="button" name="button">Add Book</button></a>
        </div>
      </center>
<br>
<br>
<br>
<br>
    <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/popper.min.js" type="text/javascript"></script>
    <!-- <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/bootstrap.min.js" type="text/javascript"></script> -->
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/validator/12.2.0/validator.min.js'></script>

    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js'></script>

    <script>
    $(document).ready(function(){

    $("#showSuccess").click(function() {
      // alert($(this).val());
      $(this).css('background','green');
      // $("#changeButton").hide();
      $("#changeButton").html("<button type='button' id='showSuccess' class='b btn btn-round' style='float: left;background-color:green' >Paid <span class='fa fa-check'></span></button>");
      $.ajax({
        type: 'POST',
        url: '/shelf/charge',
        data: {
          chargeAmount: $("#chargeAmount").val(),
          id: $("#id").val(),
        },
        success: function(response) {
          alert('stop point');
          window.location.replace('/shelf/view');
        }
      });
    });
  })
  </script>
  
  </body>
</html>
