<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />
<!-- <style media="screen">
h3{margin-top:0;margin-bottom:.5rem;}
h3{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h3{font-size:1.75rem;}
.card-title{margin-bottom:.75rem;}
.text-center{text-align:center!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
h3{orphans:3;widows:3;}
h3{page-break-after:avoid;}
}
/*! CSS Used from: https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0 */
h3{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:Montserrat,Helvetica,Arial,sans-serif;font-weight:300;}
h3{margin:30px 0 0;}
h3{font-size:1.825em;line-height:1.4;margin:20px 0 0;}

</style> -->
<style media="screen">
  #backbutton{
    display: none;
  }
</style>
</head>

<body onload="setmintime()" class="product-page sidebar-collapse">
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row title-row">
          <div class="col-md-3">
          </div>
          <div class="col-md-4 ml-auto" style="margin-top:2rem;cursor:pointer">
            <div class="pull-right" onclick="goBack()">
              <span class="text-muted" ><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div id="carousel" class="ml-auto mr-auto">
              <div class="card page-carousel">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img style="width:100%" src="<%=image%>" alt="/pics/image_placeholder.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end carousel -->
          </div>
          <div class="col-md-8 col-sm-6">
            <h2><%= title %></h2>
            <h4 class="price" style="align:right"><strong> <%= author %></strong></h4>
            <p style="margin-top:1rem;margin-bottom:-1rem"><a href="/shelf/editbook/<%=title%>" ><b>Edit</b></a></p>
            <hr />
            <p>Book Description : This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.
            This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.
          This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.
        This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.</p>

            <hr />
            <%if(inbidding==1 || hasHardCopy ){%>
            <ul>
            <%if(hasHardCopy){%>


                <%if(!softCopy){%>
                  <li>You have hard copy of this book</li>
                  <li>Please upload soft copy of this book</li>
                <%}else{%>
                <li>you have hard copy of this book too</li>
                <%}%>

            <%}%>
            <%if(inbidding && !otherUserShelf){%>
              <li>This book is currently put for bidding for further details click <a href="/book/mystuff">here</a> </li>
              <%}else if(inbidding && otherUserShelf){%>
                <li>This book is currently put for bidding for further details click <a href="/book/">here</a> </li>
                <%}%>
          </ul>

            <%}%>


            <%if(otherUserShelf){%>
              <div class="row" style="margin-left:1rem;">
                <p>If you want to read this book send read request to the user. You will be charged Rs <%=readRequestAmount%> per day. You will lose access to the book after selected period of time </p>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4  col-sm-8">
                  <button class="btn btn-danger btn-block btn-round" data-toggle="modal"  data-target="#readrequest" >Send Read Request &nbsp;<i class="fa fa-chevron-right"></i></button>


                </div>
              </div>
              <%}else{%>
            <div class="row">
              <div class="col-md-4  col-sm-8">
                <%if(softCopy){%>
                <a href="/shelf/readbook/<%=id%>">
                <button class="btn btn-danger btn-block btn-round">Read book &nbsp;<i class="fa fa-chevron-right"></i></button>

              </a>
                <%}else{%>
                  <%if(owner!='1'){%>
                  <button class="btn btn-danger btn-block btn-round" data-toggle="modal" data-target="#uploadModal">Upload SoftCopy &nbsp;<i class="fa fa-chevron-right"></i></button>
                  <%}%>
                  <%}%>
              </div>

            <%if(owner!='1'){%>

              <%if(softCopy){%>
              <div class="col-md-4  col-sm-8">
                <button class="btn btn-danger btn-block btn-round"  data-toggle="modal" data-target="#amount">Set Amount &nbsp;<i class="fa fa-chevron-right"></i></button>
              </div>
<%}%>

              <%if(inbidding!=1 && hasHardCopy){%>
              <div class="col-md-4  col-sm-8">
                <button class="btn btn-danger btn-block btn-round" data-toggle="modal" data-target="#exampleModal">Open Bid &nbsp;<i class="fa fa-chevron-right"></i></button>
              </div>
<%}%>
<%}%>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div  class="modal-content">
          <div class="modal-header" style="border-bottom:0px !important">
            <h3  style='font-size:30px;font-family:"Comic Sans MS",cursive,sans-serif;color:#66615b'>Bookrest</h3><br>
            <p  style="font-family:'Comic Sans MS',cursive,sans-serif;font-size:12px;margin-top:-5% ;color:#66615b">Find the hidden</p>
          </div>
          <form  action="/book/openbid" method="post">

          <div class="modal-body" >


            <div class="form-group">
              <h6>Base Amount
                <span class="icon-danger">*</span>
              </h6>
              <input type="number" name="baseamount" class="form-control border-input" placeholder="Enter the Base Amount...">
            </div>
            <div class="form-group">
              <h6>Bidding Date
                <span class="icon-danger">*</span>
              </h6>
              <input type="datetime-local" id="biddingtime"  name="biddingtime" class="form-control border-input">
            </div>
            <input type="hidden" name="bookid" value="<%=id%>">
          </div>
          <div class="modal-footer" style="border-top:0px !important;padding:1rem 1rem !important">
            <button type="button" class="b btn btn-round"  style="color:red;background-color:#fff;border:1px solid red" data-dismiss="modal">Close</button>
            <button type="submit" value='submit' style="color:white"class="btn btn-round">create bid</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="amount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div  class="modal-content">
          <div class="modal-header" style="border-bottom:0px !important">
            <h3  style='font-size:30px;font-family:"Comic Sans MS",cursive,sans-serif;color:#66615b'>Bookrest</h3><br>
            <p  style="font-family:'Comic Sans MS',cursive,sans-serif;font-size:12px;margin-top:-5% ;color:#66615b">Find the hidden</p>
          </div>
          <form   method="post">

          <div class="modal-body" >

            <div><p>set the amount payable by user requested to read the book per one day</p>
            <p>If you do not set, then users will be charged 5 rupees per day</p> </div><br>
            <div class="form-group">
              <h6>Amount
                <span class="icon-danger">*</span>
              </h6>
              <%if(readRequestAmount===undefined){%>
              <input type="number" id="payableamount" name="amount" class="form-control border-input" placeholder="Enter the Payable Amount...">
              <%}else{%>
                <input type="number" id="payableamount" value="<%=readRequestAmount%>" name="amount" class="form-control border-input" placeholder="Enter the Payable Amount...">

                <%}%>
            </div>
            <input type="hidden" name="bookid" value="<%=id%>">
          </div>
          <div class="modal-footer" style="border-top:0px !important;padding:1rem 1rem !important">
            <button type="button" class="b btn btn-round"  style="color:red;background-color:#fff;border:1px solid red" data-dismiss="modal">Close</button>
            <button type="button" onclick="setamount('<%=id%>')" style="color:white"class="btn btn-round">Set Amount</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div  class="modal-content">
          <div class="modal-header" style="border-bottom:0px !important">
            <h3  style='font-size:30px;font-family:"Comic Sans MS",cursive,sans-serif;color:#66615b'>Bookrest</h3><br>
            <p  style="font-family:'Comic Sans MS',cursive,sans-serif;font-size:12px;margin-top:-5% ;color:#66615b">Find the hidden</p>
          </div>
          <form  action="/shelf/uploadSoftCopy" method="post" enctype="multipart/form-data">

          <div class="modal-body" >
            <div class="form-group">
              <h6>Upload SoftCopy
                <span class="icon-danger">*</span>
              </h6>
              <input type="file" name="bookSoftCopy" class="form-control border-input">
            </div>
            <input type="hidden" name="bookid" value="<%=id%>">
          </div>
          <div class="modal-footer" style="border-top:0px !important;padding:1rem 1rem !important">
            <button type="button" class="b btn btn-round"  style="color:red;background-color:#fff;border:1px solid red" data-dismiss="modal">Close</button>
            <button type="submit" value='submit' style="color:white"class="btn btn-round">Upload</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="readrequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div  class="modal-content">
          <div class="modal-header" style="display:flex;flex-direction:row;justify-content:center;align-items:center">
            <h3  style='font-size:30px;font-family:"Comic Sans MS",cursive,sans-serif;color:#66615b'>Bookrest</h3><br>
            <p  style="font-family:'Comic Sans MS',cursive,sans-serif;font-size:12px;margin-top:-5% ;color:#66615b">Find the hidden</p>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <h6>No days
                <span class="icon-danger">*</span>
              </h6>
              <input type="number" id="noofdays" name="noofdays" class="form-control border-input" placeholder="Number of Days">
            </div>
            <div class="form-group">
              <h6>Leave a note to the owner</h6>
              <textarea name="notetoowner" id="notetoowner" class="form-control textarea-limited" placeholder="This is a textarea limited to 150 characters." rows="5" maxlength="150">lend me this book...</textarea>
              <h5>
                <small>
                  <span id="textarea-limited-message" class="pull-right">150 characters only</span>
                </small>
              </h5>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="b btn btn-round"  style="color:red;background-color:#fff;border:1px solid red" data-dismiss="modal">Close</button>
            <button type="button" style="color:white"class="btn btn-round" data-dismiss="modal" onclick=Request('<%=id%>')>Request</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    function Request(id) {
    console.log(id);
    $.ajax({
        type:'POST',
        url:'/my/request',
        data:{
          bookid:id,
          noofdays:document.getElementById('noofdays').value,
          notetoowner:document.getElementById('notetoowner').value
        },
        success:function(result){
          alert('Request has been sent to Owner');
          console.log(result);
          return true
        }
      });

    }
    </script>
    <script type="text/javascript">
    function setamount(id) {
    console.log(id);
    $.ajax({
        type:'POST',
        url:'/shelf/setpayableamount',
        data:{
          bookid:id,
          amount:document.getElementById('payableamount').value,
        },
        success:function(result){
          alert('Amount has been updated');
          console.log(result);
          location.reload()

        }
      });

    }
    </script>
    <script type="text/javascript">
      function setmintime(){
        document.getElementById('biddingtime').min = new Date().toISOString().slice(0,16)
      }
    </script>

    <!-- <div class="section">
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>Similar Products</h4>
            <br/>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="#paper-kit">
                  <img src="/pics/image_placeholder.jpg" alt="" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Double Breasted Mini Dress</h5>
                    <p class="card-description">Dresses & Skirts</p>
                  </div>
                  <div class="actions">
                    <h5>1.300 &euro;</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="#paper-kit">
                  <img src="/pics/image_placeholder.jpg" alt="" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Chrystal Dress</h5>
                    <p class="card-description">Dresses & Skirts</p>
                  </div>
                  <div class="actions">
                    <h5>1.500 &euro;</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="#paper-kit">
                  <img src="/pics/image_placeholder.jpg" alt="" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Chrystal Skirt</h5>
                    <p class="card-description">Only on demand</p>
                  </div>
                  <div class="actions">
                    <h5>1.200 &euro;</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--   Core JS Files   -->

  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/popper.min.js" type="text/javascript"></script>
  <!-- <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/bootstrap.min.js" type="text/javascript"></script> -->


</body>


</html>
