
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />
  <!--  Social tags      -->
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/demo/demo.css" rel="stylesheet"> -->
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- End Google Tag Manager -->
  <style>
  .checked {
  color: orange;
}
.form-check input[type=radio]{opacity:0;position:absolute;visibility:hidden;}
.form-check input[type=radio]:checked+.form-check-sign:after{opacity:1;}
.form-check .form-check-label input[type=radio]:disabled+.form-check-sign{pointer-events:none!important;}
.form-check-label input[type=radio]:checked+.form-check-sign:before{background-color:#66615b;}
#backbutton{
  color:white !important; 
}
  </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="load-more-button.js"></script>
</head>

<body class="product-page sidebar-collapse">

  <div class="page-header page-header-xs" style="background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80');">
    <div class="filter"></div>
  </div>

    <div class="main">
      <div class="container">
        <div class="row" style="margin-top:3rem;justify-content:center;align-items:center">
           <input class="form-control" list="books" name="search" id='search' type="text" placeholder="Search" aria-label="Search" style="width:50%;display:inline;float:left">
           <button type="button" class="btn primary" style="margin-left:10px" onclick="search()">Search</button>

        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 style="color:black">Exchange Requests</h2>
            <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="card card-refine">

                          <div class="panel-group" id="accordion" aria-multiselectable="true" aria-expanded="true">

                            <div class="card-header card-collapse" role="tab" id="designer">
                              <h5 class="mb-0 panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#refineDesigner" aria-expanded="false" aria-controls="collapseThree">
                                  Genre
                                  <i class="nc-icon nc-minimal-down"></i>
                                </a>
                              </h5>
                            </div>
                            <div id="refineDesigner" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                              <div class="card-body">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(true,true,false)" id='g-0' type="checkbox" value="" checked="">
                                    All
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-1' type="checkbox" value="">
                                    Fantasy
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-2' type="checkbox" value="">
                                    Fiction
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-3' type="checkbox" value="">
                                    FairyTale
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-4' type="checkbox" value="">
                                    History
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-5' type="checkbox" value="">
                                    Mystery
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-6' type="checkbox" value="">
                                    Novel
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-7' type="checkbox" value="">
                                    Poetry
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-8' type="checkbox" value="">
                                    Romance
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,true,false)" id='g-9' type="checkbox" value="">
                                    Thriller
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="card-header card-collapse" role="tab" id="designer">
                              <h5 class="mb-0 panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#refineDesigner1" aria-expanded="false" aria-controls="collapseThree">
                                  Location
                                  <i class="nc-icon nc-minimal-down"></i>
                                </a>
                              </h5>
                            </div>
                            <div id="refineDesigner1" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                              <div class="card-body">
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,false,true)" id='p-0' type="checkbox" value="" checked="">
                                    All
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <%for(var x=1;x<=locations.length;x++){%>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    <input class="form-check-input" onclick="filterData(false,false,false)" id='p-<%=x%>' type="checkbox" value="">
                                    <%=locations[x-1]%>
                                    <span class="form-check-sign"></span>
                                  </label>
                                </div>
                                <%}%>


                              </div>
                            </div>

                          </div>
                        </div>
          </div>
          <div class="col-9" id='data'>
            <%if(exchange.length!=0){%>
            <% for(i=0;i<exchange.length; i++){%>
              <div class="card-header moreBox" style="display:none;margin-top:30px">
                <%=exchange[i].userReq.profile.location %>
              </div>
            <div class="card">
              <div class="card-body moreBox" style="display:none">
                <h5 class="card-title" style="margin-bottom:1rem">  <b><%= exchange[i].userReq.profile.fname + exchange[i].userReq.profile.lname %></b> would like to make the exchange <a href="/shelf/viewbk/<%= exchange[i].bookSen.Title %>"><b><%= exchange[i].bookSen.Title %></b></a> for <a href="/shelf/viewbk/<%= exchange[i].bookReq.Title %>"><b><%= exchange[i].bookReq.Title %></b></a> </h5>
                <div class="card-image" style="padding-left:10%">

                              <img src="<%= exchange[i].bookSen.ImageURLL %>" alt="Rounded Image" class="img-responsive" style="width:17%;height:200px">
                              <img src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/DoubleArrowLeftRight-512.png" alt="Rounded Image" class="img-responsive" style="width:10%;margin-left:40px;margin-right: 40px">
                              <img src="<%= exchange[i].bookReq.ImageURLL %>" alt="Rounded Image" class="img-responsive" style="width:17%;height:200px">

                          </div>
                          <br>
                <!-- <p class="card-text" style="color:black">With supporting text below as a natural lead-in to additional content.</p> -->
                <a href="/exchange/viewtrade/<%= exchange[i]._id %>" class="btn btn-primary">View</a>
              </div>
            </div>

             <%}%>
             <div style="margin-left:45%" id="loadMore">
               <button rel="tooltip" title="This is a morphing button" class="btn btn-round btn-outline-default" id="successBtn" data-toggle="morphing" data-rotation-color="gray" style="font-weight: normal;margin-bottom: 20px">See All...</button>
             </div>

             <%}else{%>

               <div style="display:flex;flex-direction:row;justify-content:center;align-items:center;height:30vh;">
                 <h3>Currently No Trade Requests</h3>
               </div>
               <%}%>

          </div>

        </div>


        </div>
      </div>
      <br><br>
      <script src="https://cdn.jsdelivr.net/npm/minisearch@2.4.1/dist/umd/index.min.js"></script>


      <script type="text/javascript">
      var dataOnPage='<%-JSON.stringify(exchange)%>';
      var dataOnPage = JSON.parse(dataOnPage);

        var genreFilters = {
          all:true,
          Fantasy:false,
          Fiction:false,
          Fairytale:false,
          History:false,
          Mystery:false,
          Novel:false,
          Poetry:false,
          Romance:false,
          Thriller:false,
        };
        var locationFilters= {all:true};
        var cities=['bangalore','bhuvaneshwar','chennai','delhi','goa','hyderabad','jabalpur','kolkatta','lucknow','mumbai',
        'munnar','mysore','nagpur','noida','patna','pondicherry','pune','raipur','shimla','trichy','vijayawada','vishakhapatnam',
        'warangal','tirupati'];
        cities.forEach((item, i) => {
          locationFilters[item] = false;
        });
        console.log(locationFilters)
        // var priceFilters={
        //   all:true,
        //   Bangalore:false,
        //   Bhuvaneshwar:false,
        //   Chennai:false,
        //   Delhi:false,
        //   five:false,
        //   six:false,
        //   seven:false,
        //   eight:false,
        //   nine:false
        // };
        function filterData(isgA,isgC,ispA){
          if(isgA){
            if(document.getElementById('g-0').checked){
              document.getElementById('g-1').checked = false;
              document.getElementById('g-2').checked = false;
              document.getElementById('g-3').checked = false;
              document.getElementById('g-4').checked = false;
              document.getElementById('g-5').checked = false;
              document.getElementById('g-6').checked = false;
              document.getElementById('g-7').checked = false;
              document.getElementById('g-8').checked = false;
              document.getElementById('g-9').checked = false;
            }

          }else if(isgC){
            document.getElementById('g-0').checked=false;
          }
          if(ispA){
            if(document.getElementById('p-0').checked){
              for(var i=0;i<cities.length;i++){
                document.getElementById('p-'+(i+1)).checked = false;

              }

            }

          }else if(!isgC){
            document.getElementById('p-0').checked=false;
          }
          genreFilters.all=document.getElementById('g-0').checked;
          genreFilters.Fantasy=document.getElementById('g-1').checked;
          genreFilters.Fiction=document.getElementById('g-2').checked;
          genreFilters.Fairytale=document.getElementById('g-3').checked;
          genreFilters.History=document.getElementById('g-4').checked;
          genreFilters.Mystery=document.getElementById('g-5').checked;
          genreFilters.Novel=document.getElementById('g-6').checked;
          genreFilters.Poetry=document.getElementById('g-7').checked;
          genreFilters.Romance=document.getElementById('g-8').checked;
          genreFilters.Thriller=document.getElementById('g-9').checked;
          var keys = Object.keys(locationFilters);
          console.log(keys)
          console.log(document.getElementById('p-0').checked,document.getElementById('p-1').checked)
          for(var i=0;i<keys.length;i++){
            console.log(i)
            locationFilters[keys[i]] = document.getElementById('p-'+i).checked
          }

          // priceFilters.all = document.getElementById('p-0').checked;
          // priceFilters.one = document.getElementById('p-1').checked;
          // priceFilters.two = document.getElementById('p-2').checked;
          // priceFilters.three = document.getElementById('p-3').checked;
          // priceFilters.four = document.getElementById('p-4').checked;
          // priceFilters.five = document.getElementById('p-5').checked;
          // priceFilters.six = document.getElementById('p-6').checked;
          // priceFilters.seven = document.getElementById('p-7').checked
          // priceFilters.eight=document.getElementById('p-8').checked
          // priceFilters.nine=document.getElementById('p-9').checked

          console.log('here');
          console.log(locationFilters);
          $.ajax({
              type:'POST',
              url:'/exchange/filtertradepage',
              data:{
                genre:genreFilters,
                location:locationFilters,
              },
              success:function(result){
                console.log(result)
                document.getElementById('data').innerHTML ='';
                var exchange = result.exchange;
                dataOnPage = result.bids;
                if(document.getElementById('search')!==''){
                  return search();
                }

                if(exchange.length>0){
                  console.log('cool')
                for (var i=0;i<exchange.length;i++){
                document.getElementById('data').innerHTML +=`<div class="card-header moreBox" style="margin-top:30px">
                                ${exchange[i].userReq.profile.location}
                              </div>
                            <div class="card">
                              <div class="card-body moreBox" >
                                <h5 class="card-title" style="margin-bottom:1rem">  <b>${exchange[i].userReq.profile.fname+' '+exchange[i].userReq.profile.lname}</b> would like to make the exchange <a href="/shelf/viewbk/${exchange[i].bookSen.Title}"><b>${exchange[i].bookSen.Title}</b></a> for <a href="/shelf/viewbk/${exchange[i].bookReq.Title}"><b>${exchange[i].bookReq.Title}</b></a> </h5>
                                <div class="card-image" style="padding-left:10%">

                                              <img src="${exchange[i].bookSen.ImageURLL}" alt="Rounded Image" class="img-responsive" style="width:17%;height:200px">
                                              <img src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/DoubleArrowLeftRight-512.png" alt="Rounded Image" class="img-responsive" style="width:10%;margin-left:40px;margin-right: 40px">
                                              <img src="${exchange[i].bookReq.ImageURLL}" alt="Rounded Image" class="img-responsive" style="width:17%;height:200px">

                                          </div>
                                <br>
                                <a href="/exchange/viewtrade/${exchange[i]._id}" class="btn btn-primary">View</a>
                              </div>
                            </div>
                            <div style="margin-left:45%" id="loadMore">
                              <button rel="tooltip" title="This is a morphing button" class="btn btn-round btn-outline-default" id="successBtn" data-toggle="morphing" data-rotation-color="gray" style="font-weight: normal;margin-bottom: 20px">See All...</button>
                            </div>`;
                                            }
                                            }else{
                                          document.getElementById('data').innerHTML=    '<div style="display:flex;flex-direction:row;justify-content:center;align-items:center;width:100%;height:30vh;">'+
                                              '  <h3>No books found</h3>'+
                                              '</div>';
                                            }
                                                  }
            });

        }

        function search() {
          console.log('search');
          console.log(document.getElementById('search').value==='')
          if(document.getElementById('search').value===''){
            var exchange = dataOnPage;
          }else{

          for (var i = 0; i < dataOnPage.length; i++) {
            dataOnPage[i]['id']=i+1;
          }
          console.log(dataOnPage);
          let miniSearch = new MiniSearch({
fields: ['bookSen.Title', 'bookReq.Title'],
storeFields: ['status', 'bookSen','bookReq','_id','userReq'],
searchOptions:{
  fuzzy:0.4,
  prefix:true
}, // fields to return with search results
 // fields to return with search results

extractField: (document, fieldName) => {
return fieldName.split('.').reduce((doc, key) => doc && doc[key], document)
} // fields to index for full-text search
})

// Index all documents
miniSearch.addAll(dataOnPage);
let results=miniSearch.search(document.getElementById('search').value)
var exchange = results;
console.log(results)
}
document.getElementById('data').innerHTML ='';
if(exchange.length>0){
  console.log('cool')
for (var i=0;i<exchange.length;i++){
document.getElementById('data').innerHTML +=`<div class="card-header moreBox" style="margin-top:30px">
                ${exchange[i].userReq.profile.location}
              </div>
            <div class="card">
              <div class="card-body moreBox" >
                <h5 class="card-title" style="margin-bottom:1rem">  <b>${exchange[i].userReq.profile.fname+' '+exchange[i].userReq.profile.lname}</b> would like to make the exchange <a href="/shelf/viewbk/${exchange[i].bookSen.Title}"><b>${exchange[i].bookSen.Title}</b></a> for <a href="/shelf/viewbk/${exchange[i].bookReq.Title}"><b>${exchange[i].bookReq.Title}</b></a> </h5>
                <div class="card-image" style="padding-left:10%">

                              <img src="${exchange[i].bookSen.ImageURLL}" alt="Rounded Image" class="img-responsive" style="width:17%;height:200px">
                              <img src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/DoubleArrowLeftRight-512.png" alt="Rounded Image" class="img-responsive" style="width:10%;margin-left:40px;margin-right: 40px">
                              <img src="${exchange[i].bookReq.ImageURLL}" alt="Rounded Image" class="img-responsive" style="width:17%;height:200px">

                          </div>
                <br>
                <a href="/exchange/viewtrade/${exchange[i]._id}" class="btn btn-primary">View</a>
              </div>
            </div>
            <div style="margin-left:45%" id="loadMore">
              <button rel="tooltip" title="This is a morphing button" class="btn btn-round btn-outline-default" id="successBtn" data-toggle="morphing" data-rotation-color="gray" style="font-weight: normal;margin-bottom: 20px">See All...</button>
            </div>`;
                            }
                            }else{
                          document.getElementById('data').innerHTML=    '<div style="display:flex;flex-direction:row;justify-content:center;align-items:center;width:100%;height:30vh;">'+
                              '  <h3>No books found</h3>'+
                              '</div>';
                            }
        }

      </script>


          <script>
   $( document ).ready(function () {
  $(".moreBox").slice(0, 12).show();
    if ($(".blogBox:hidden").length != 0) {
      $("#loadMore").show();
    }
    $("#loadMore").on('click', function (e) {
      e.preventDefault();
      $(".moreBox:hidden").slice(0, 12).slideDown();
      if ($(".moreBox:hidden").length == 0) {
        $("#loadMore").fadeOut('slow');
      }
    });
    // if(!<%=exchange.length%>){
    //   console.log('yes')
    //   console.log(document.getElementsByTagName('body'))
    //     document.getElementsByTagName('body')[0].style.overflow = 'hidden'
    // }
  });

</script>
  <!--   Core JS Files   -->
</body>


<!-- Mirrored from demos.creative-tim.com/paper-kit-2-pro/examples/product-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 06:49:08 GMT -->
</html>
