
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />
  <!--  Social tags      -->
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/demo/demo.css" rel="stylesheet"> -->
  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Google Tag Manager -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- End Google Tag Manager -->
  <style>
  .checked {
  color: orange;
}
  </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="load-more-button.js"></script>
</head>

<body class="product-page sidebar-collapse">
  
  <div class="page-header page-header-xs" style="background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80');">
    <div class="filter"></div>
  </div>
 
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 style="color:black">Exchange Requests</h2>
            <br/>
          </div>
        </div>

<% for(i=0;i<exchange.length; i++){%>
  <div class="card-header moreBox" style="display:none;margin-top:30px">
    <%=exchange[i].profile.location %>
  </div>
<div class="card">
  <div class="card-body moreBox" style="display:none">
    <h5 class="card-title" style="margin-bottom:1rem">  <b><%= exchange[i].profile.fname + exchange[i].profile.lname %></b> would like to make the exchange <b><%= exchange[i].bookSen.Title %></b> for <b><%= exchange[i].bookReq.Title %></b> </h5>
    <div class="card-image" style="padding-left:10%">

                  <img src="<%= exchange[i].bookSen.ImageURLL %>" alt="Rounded Image" class="img-responsive" style="width:25%;%">
                  <img src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/DoubleArrowLeftRight-512.png" alt="Rounded Image" class="img-responsive" style="width:10%;margin-left:40px;margin-right: 40px">
                  <img src="<%= exchange[i].bookReq.ImageURLL %>" alt="Rounded Image" class="img-responsive" style="width:25%;">
                
              </div>
    <p class="card-text" style="color:black">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">View</a>
  </div>
</div>
 <%}%>

            <div style="margin-left:45%" id="loadMore">
              <button rel="tooltip" title="This is a morphing button" class="btn btn-round btn-outline-default" id="successBtn" data-toggle="morphing" data-rotation-color="gray" style="font-weight: normal;margin-bottom: 20px">See All...</button>
          </div>
        </div>
      </div>

          <script>
   $( document ).ready(function () {
  $(".moreBox").slice(0, 12).show();
    if ($(".blogBox:hidden").length != 0) {
      $("#loadMore").show();
    }   
    $("#loadMore").on('click', function (e) {
      e.preventDefault();
      $(".moreBox:hidden").slice(0, 12).slideDown();
      if ($(".moreBox:hidden").length == 0) {
        $("#loadMore").fadeOut('slow');
      }
    });
  });
</script>
  <!--   Core JS Files   -->
    <footer class="footer footer-big" style="background-color: black;width: 100%">
        
          <div class="col-md-4 ml-auto ">
            <div class="social-area">
              <a href="#facebook" class="btn btn-neutral btn-round btn-just-icon btn-facebook" style="margin-left: 15px;">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="#twitter" class="btn btn-neutral btn-just-icon btn-round btn-twitter" style="margin-left: 15px;">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="#google" class="btn btn-neutral btn-just-icon btn-round btn-google" style="margin-left: 15px;">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
              <a href="#pin" class="btn btn-neutral btn-just-icon btn-round btn-pinterest" style="margin-left: 15px;">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>  
</body>


<!-- Mirrored from demos.creative-tim.com/paper-kit-2-pro/examples/product-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2020 06:49:08 GMT -->
</html>
