<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0" rel="stylesheet">
  <link rel="canonical" href="https://www.creative-tim.com/product/paper-kit-2-pro" />
</head>

<body class="product-page sidebar-collapse">
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row title-row">
          <div class="col-md-3">
            <h4 class="shop"><%= title %></h4>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="pull-right">
              <span class="text-muted">Status</span>
              <button class="btn btn-link">Not Requested</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-sm-6">
            <div id="carousel" class="ml-auto mr-auto">
              <div class="card page-carousel">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="" src="<%=image%>" alt="/pics/image_placeholder.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end carousel -->
          </div>
          <div class="col-md-5 col-sm-6">
            <h2><%= title %></h2>
            <h4 class="price" style="align:right"><strong> <%= author %></strong></h4>
            <hr />
            <p>Book Description : This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.
            This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.
          This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.
        This blazer in suede is a must-have of your wardrobe. Team it with a angora blazer and a angora sweater.</p>

            <hr />
            <div class="row">
              <div class="col-md-7 offset-md-5 col-sm-8">
                <a href="/exchange/require/<%=title%>"><button class="btn btn-danger btn-block btn-round">Request &nbsp;<i class="fa fa-chevron-right"></i></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>Similar Products</h4>
            <br/>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="#paper-kit">
                  <img src="/pics/image_placeholder.jpg" alt="" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Double Breasted Mini Dress</h5>
                    <p class="card-description">Dresses & Skirts</p>
                  </div>
                  <div class="actions">
                    <h5>1.300 &euro;</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="#paper-kit">
                  <img src="/pics/image_placeholder.jpg" alt="" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Chrystal Dress</h5>
                    <p class="card-description">Dresses & Skirts</p>
                  </div>
                  <div class="actions">
                    <h5>1.500 &euro;</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card card-product card-plain">
              <div class="card-image">
                <a href="#paper-kit">
                  <img src="/pics/image_placeholder.jpg" alt="" class="img-rounded img-responsive">
                </a>
                <div class="card-body">
                  <div class="card-description">
                    <h5 class="card-title">Chrystal Skirt</h5>
                    <p class="card-description">Only on demand</p>
                  </div>
                  <div class="actions">
                    <h5>1.200 &euro;</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->

  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="https://demos.creative-tim.com/paper-kit-2-pro/assets/js/core/bootstrap.min.js" type="text/javascript"></script>

</body>


</html>
